@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');


* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: "Karla", sans-serif;
}

ul, li {
  list-style: none;
}
h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem
}

li {
  margin: 0 2%;
 
  width: 200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  font-size: .7rem;
  align-items: center;
}

.galleryOne, .galleryTwo {
  display: flex;
  justify-content: space-evenly;
  gap: 2%;
}

.galleryOne figure, {
  width: 20%;
}
.galleryTwo figure, {
  width: 40%;
}

img {
  width: 100%;
}


.App {
  text-align: start;
}

header, main, footer {
  width: 80%;
  margin: 2% auto;
}

span {
  font-weight: bold;
}

footer section {
  margin: 5% 0;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  text-align: start;
}

footer nav {
  margin: 9% 0;
  text-align: start;
  display: flex;
}

